#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #131313;
  min-height: 100vh;
}

.container-header-navbar{
    background-color: #131313;

}

.header-container h1{
  color: white;
  font-size: 3rem;
}

.header-container h1:hover{
  color: white;
  text-shadow: 0 0 10px #f0a500;
}